@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F5F5F7;
  color: #1D1D1F;
}
